[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
jsonify = "*"
pandas = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
